<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.hlj.spring.pojo.Hello">
        <property name="id" value="100"></property>
        <property name="username" value="用户名称"></property>
        <property name="password" value="123abc"></property>
    </bean>

</beans>